.buttonAction:hover {
  color: #fff;
}

.subtitle {
  color: #fff;
  font-size: 20px;
  margin-top: 100px;
  padding-bottom: 20px;
}
.title {
  color: white;
}

.title::after {
  content: "";
  width: 150px;
  height: 10px;
  display: block;
  background: #fcfc81;
  margin-left: 375px;
}

@media (max-width: 40rem) {
  .pc {
    display: none;
  }
  .subtitle {
    display: none;
  }
}

@media (min-width: 40rem) {
  .mob {
    display: none;
  }
}
